@-ms-viewport {
    width: device-width;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}


/* Header & Navigation */

header {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    padding-top: 5vh;
    text-transform: uppercase;
    width: 100%;
    z-index: 1000;
    opacity: 0.8;
    text-decoration: none;
}

nav > ul {
    position: absolute;
    word-spacing: 2vw;
    right: 5%;
}

header > nav li {
    display: inline-block;
    opacity: 0.8;
    font-weight: 300;
}

header > #title {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
    color: white;
}

nav > ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in-out;
}

nav > ul li a:hover {
    color: #00bcd4;
    opacity: 1;
}


/* Center Banner */

#banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("../images/Banner_BG.jpg");
    background-position: center;
    background-size: cover;
    /* Scale BG to size of screen */
    background-repeat: no-repeat;
    border: 0;
    min-height: 100vh;
    /* Set height to 100% screen height */
    height: 100vh !important;
    text-align: center;
    overflow: auto;
    position: relative;
}

#banner .heading {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    opacity: 0.9;
    top: -5vh;
    font-size: 3em;
    z-index: 2;
    position: relative;
    max-width: 1000px;
}

#banner h1 {
    text-transform: uppercase;
}

#banner h4 {
    font-size: 50%;
    font-family: 'Roboto';
    font-weight: 300;
    margin-top: -3vh;
    opacity: 0.8;
    margin-bottom: 5vh;
}


/* Footer */

footer {
    width: 100%;
    position: absolute;
    display: block;
    bottom: 1em;
    right: 3em;
    text-align: right;
    z-index: 40;
}
footer ul li {
    position: relative;
    /*display: block;*/
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 80%;
    opacity: 0.5;
    margin-left: 80%;
    transition: opacity 0.5s ease-in-out;
}

footer ul li:hover {
    color: white;
    opacity: 1;
}

button.main_btn {
    background: none;
    opacity: 0.8;
    border: 2px solid rgba(255, 255, 255, .4);
    /*opacity: 0.5;*/
    border-radius: 30px;
    padding: 8px 15px 8px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 0.4em;
    color: inherit;
    font-family: 'Roboto';
    font-weight: 400;
    transition: border 0.5s ease-in-out, background 0.2s ease-in-out, color 0.3s ease-in-out;
}

button.main_btn:hover {
    background: rgba(0, 188, 212, 0.7);
    border: 2px solid rgba(0, 146, 165, 0.4);
    color: rgba(0, 0, 0, 0.9);
}

.container {
    width: 120px;
    height: 80px;
    bottom: 3vh;
    position: absolute;
    opacity: 0.2;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 70;
    cursor: pointer;
}

@keyframes scrolling {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0.7;
        transform: translateY(15px);
    }
}

.container:hover {
    animation: scrolling 0.5s ease-out;
    animation-fill-mode: forwards;
}
.scroll {
    z-index: 100;
    position: absolute;
    width: 50px;
    height: 3px;
    bottom: 35%;
}

.scroll:before,
.scroll:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.scroll:before {
    transform: skew(0deg, 35deg);
    left: 0;
}

.scroll:after {
    transform: skew(0deg, -35deg);
}
